<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welcome to quizz app</h1>
  <p class="col-md-8 fs-4">this quiz will contains total 9 question. Each question holds 10 point</p>
  <h4>Rule: </h4>
  <ol>
    <li>Correct question give you 10 points</li>
    <li>Incorrect question take from you 10 points</li>
    <li>You will have 60 seccond to answer each question</li>
    <li>Refereshing the page will reset the quiz</li>
  </ol>
  <h1 style="font-family: cursive; text-align: center">All the best !!</h1>
  <div class="name col-md-4 my-3">
    <label for="">Enter your name: </label>
    <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn lg" routerLink="/question" (click)="startQuiz()">Start the quiz !!</button>
</div>
